<div class="container">
    <div class="con"><div class="monitored">
        <div class="dot">
            <p></p>
        </div>
        <div class="text-icon">
            <img src="https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:372228fd-9afe-4a10-b251-af977b41e290;revision=0?component_id=0ddadf50-e08d-4561-aa36-a02f4d315a8e&api_key=CometServer1&access_token=1731755685_urn%3Aaaid%3Asc%3AUS%3A372228fd-9afe-4a10-b251-af977b41e290%3Bpublic_4d2dfbcb744f2ef8866463810bec73741ad9ea7a"
                alt="f">
            <div class="texts">
                <p class="num">2/3</p>
                <p class="text">Monitored Stations</p>
            </div>
    
        </div>
    </div>
    <div class="reload">
        <div class="dot">
            <p></p>
        </div>
        <div class="text-icon">
            <img id="reload" src="https://cdn.icon-icons.com/icons2/2518/PNG/512/rotate_icon_151128.png" alt="f">
            <div class="texts">
                <p class="num">20S</p>
                <p class="text">Last Updates</p>
            </div>
        </div>
    </div>
</div>
    
    
    <div class="rectangle">
        <div class="today">today</div>
        <div class="yesterday">yesterday</div>
        <div class="lastweek">last week</div>
    </div>
    <div class="date">
        <div class="start">
            <div class="triangle"></div>
            <form action="#">
                <div class="calander"><label for="start"><span>Start</span>
                        <p> date- time</p>
                    </label>
                    <img src="https://cdn-icons-png.flaticon.com/128/661/661512.png" alt="">
                </div>


                <input type="text" id="start">
            </form>

        </div>
        <div class="end">
            <div class="square">

            </div>
            <form action="">
                <div class="calander"><label for="start"><span>End</span>
                        <p> date- time</p>
                    </label>
                    <img src="https://cdn-icons-png.flaticon.com/128/661/661512.png" alt="">
                </div>
                <input type="text" id="start">
            </form>

        </div>
    </div>
</div>