<div class="container-fluid ">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg">
            <div class=" main d-flex flex-column text-align-center">
                <div class="main-icon water-icon"></div>
                <div class="list">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center icon" id="menu">
                        <li class="nav-item control-room">
                            <a href="#" class="nav-link align-middle px-0">
                                <span class="ms-1 d-none d-sm-inline ">
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dashboard">
                            <a href="#submenu1" class="nav-link px-0">
                            </a>
                        </li>
                        <li class="nav-item elements">
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> </a>
                        </li>
                        <li class="nav-item setting">
                            <a href="#submenu2" class="nav-link px-0 ">
                            </a>
                        </li>
                        <li>
                            <a href="#submenu3" class="nav-link px-0 notifiction ">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sign-out pb-4">
                    <a href="#"></a>
                
                </div>

    </div>