*{
    color: var(--text-color);
}
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
        align-self: flex-end;
    }


.station-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.card {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
}
.right img{
   width: 18px;
   height: 18px;
}

.left {
    display: flex;
    width: 27%;
   
}
.station-info .icon {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
}

.station-info .icon p {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 0;
    margin-bottom: 2px;
}
.Img{
    width: 53px;
    height: 43px;
background: url('https://cdn-sharing.adobecc.com/content/storage/id/urn:aaid:sc:US:372228fd-9afe-4a10-b251-af977b41e290;revision=0?component_id=44bad7fd-74c1-471b-a06f-87e35f113d31&api_key=CometServer1&access_token=1731811226_urn%3Aaaid%3Asc%3AUS%3A372228fd-9afe-4a10-b251-af977b41e290%3Bpublic_37acdd03b2706f4043797ad0a77ef8ebc4cbb9e6');}
.station-info h3 {
font: normal bold 18px/22px Montserrat;
    letter-spacing: 1.8px;
    margin-left: 6px;
}
hr{
    color: var(--text-color);
}

.data-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.more-options {
    text-align: right;
    cursor: pointer;
}.content{
    display: flex;
flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  
}
.data-row {

   display: flex;
   text-align: center;
   gap: 100px;
}
.data-row p{
    font:normal bold 12px/15px Montserrat;
    font-size: 15px;
    text-align: center;
}
.data-row span{
    font: normal medium 14px/18px Montserrat;
    font-size: 14px;
    text-align: center;
}